.plant-list {
    display: flex;
    flex-wrap: wrap;
}

.plant-list .plant-item {
    width: 20%;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}